body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px; /* Padding at the bottom */
    border-bottom: 1px solid #ccc; /* Faint line at the bottom */
}

.text-buttons, .text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.text-buttons h1, .text-section p {
    margin: 5px 0;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
