<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form action="http://127.0.0.1:5000/login/update/password" method="POST">
        {{ form.csrf_token }}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password"><br>
        <label for="confirm_password">Confirm:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <input type="submit" value="User">
    </form>
</body>
</html>
